<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="entryway">
            <h3>You come to in a hallway full of doors.  Each one appears identical to the last.</h3>
            <h4>Your head pounds wickedly.  A gin and laudanum bender, and in 2022.  You recall nothing but the self-loathing which
                so often resulted in awakenings like this one.
            </h4>
            <p>The hallway under your feet is...</p>
        </div>
    </body>
</html>